packages
.vs
homepage/Bin/
Library/EI.WebEdit/bin
Library/EI.WebEdit/obj
Library/DTO/bin
Library/DTO/obj
Library/FM.Business/bin
Library/FM.Business/obj
Library/FM.Components/bin
Library/FM.Components/obj
Library/FM.Controls/bin
Library/FM.Controls/obj
Library/FM.DataAccess/bin
Library/FM.DataAccess/obj
Library/MySession/bin
Library/MySession/obj
Library/MyTy/bin
Library/MyTy/obj
Library/Service.DAL/bin
Library/Service.DAL/obj
Library/Service.Util/bin
Library/Service.Util/obj
Library/WeixinUtil/bin
Library/WeixinUtil/obj
myweb/Bin/
myweb/webpage/UpFile/
myweb/logs/
myweb.rar
myweb.zip
Comet/Bin/
Comet/logs/
Comet.rar
Comet.zip
vue-ss/node_modules/
vue-ss-app/node_modules/