packages
.vs

Library/EI.WebEdit/bin
Library/EI.WebEdit/obj
Library/FM.Business/bin
Library/FM.Business/obj
Library/FM.Components/bin
Library/FM.Components/obj
Library/FM.Controls/bin
Library/FM.Controls/obj
Library/FM.DataAccess/bin
Library/FM.DataAccess/obj
Library/MySession/bin
Library/MySession/obj
Library/MyTy/bin
Library/MyTy/obj
Library/Service.DAL/bin
Library/Service.DAL/obj
Library/Service.Util/bin
Library/Service.Util/obj
Library/WeixinUtil/bin
Library/WeixinUtil/obj
