<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings/>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
  <system.webServer>
    <handlers>
      <!--针对GET与POST两种请求，路径是Data.aspx文件，使用CometAsyncHandler处理-->
      <add name="MyHandler" verb="GET,POST" path="webpage/longPollingData.aspx" type="Comet.CometAsyncHandler,MyTy"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="content-type" />
        <add name="Access-Control-Allow-Methods" value="GET" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>