<?xml version="1.0" encoding="utf-8"?>
<Root>
  <!-- 用来做页面重定向,暂时无用-->
  <Url>
    <Site Name="/MYWEB/C">/MYWEB/CHOOSETZ.ASPX</Site>
    <Site Name="/MYWEB/M">/MYWEB/WEBPAGE/MENU_3.ASPX</Site>
  </Url>
  <!-- 下面的文件不限定session情况 -->
  <NoLimitUrl>
    <Site>other/my26upload.aspx</Site>
    <Site>other/my27upload.aspx</Site>
    <Site>other/my28upload.aspx</Site>
    <Site>sindex.aspx</Site>
    <Site>index.aspx</Site>
    <Site>other/default24.aspx</Site>
    <Site>other/default23.aspx</Site>
    <Site>other/default22.aspx</Site>
    <Site>other/default2_wxcs.aspx</Site>
    <Site>other/default2_qyhcs.aspx</Site>
    <Site>other/default2_wx_zxdp_tp.aspx</Site>
    <Site>other/default2_wx_zxdp_firefox.aspx</Site>
    <Site>other/default2_wx_zxdp.aspx</Site>
    <Site>other/default2_wx_xsph.aspx</Site>
    <Site>other/default2_wx.aspx</Site>
    <Site>other/default2_html5.aspx</Site>
    <Site>other/default2.aspx</Site>
    <Site>other/eng.aspx</Site>
    <Site>longPollingData.aspx</Site>
  </NoLimitUrl>
  <WebFile>
    <Login>
      <!-- 登陆页面,不能使用html页面,因为session在二种类型的页面切换会不一致,待解-->      
      <FileName>login.aspx</FileName>
      <!--<FileName>login2.html</FileName>-->
    </Login>
    <ChooseTz>
      <!-- 套账页面-->
      <FileName>ChooseTz.aspx</FileName>      
    </ChooseTz>
    <MenuPage>
      <!--主页-->
      <FileName>webpage/menu_2.aspx</FileName>
      <FileName>webpage/menu_3.aspx</FileName>
      <FileName>webpage/menu_4.aspx</FileName>
      <FileName>webpage/menu_lsy.aspx</FileName>
    </MenuPage>
    <PrintPage>
      <!--打印页-->
      <FileName>webpage/ProcPager_SysPrt.aspx</FileName>      
    </PrintPage>
    <ExcelPage>
      <!--导出EXCEL-->
      <FileName>webpage/ProcPager_SysExcel.aspx</FileName>
    </ExcelPage>
    <SysModulePage>
      <!--模块页-->
      <FileName>webpage/lss.aspx</FileName>
    </SysModulePage>
    <SysXTSZ>
      <!--系统设置页-->
      <JQY>
        <FileName>web_xtsz/web_xtsz_creattb.aspx</FileName>
        <FileName>web_xtsz/web_xtsz_main_edit.aspx</FileName>
        <FileName>web_xtsz/web_xtsz_main.aspx</FileName>
      </JQY>
      <Ordinary>             
        <FileName>web_xtsz/web_xtsz_main_add.aspx</FileName>
        <FileName>web_xtsz/web_xtsz_main_edit_help.aspx</FileName>
        <FileName>web_xtsz/web_xtsz_main_edit_js.aspx</FileName>
        <FileName>web_xtsz/web_xtsz_main_edit_sjy.aspx</FileName>
        <FileName>web_xtsz/web_xtsz_main_edit_z.aspx</FileName>
        <FileName>web_xtsz/web_xtsz_main_edit_zdwh.aspx</FileName>
      </Ordinary>
    </SysXTSZ>
    <Other>
      <!--没分类页-->
      <JQY>
   
      </JQY>
      <Ordinary>
        <FileName>webpage/m_myhelp.aspx</FileName>
        <FileName>webpage/content_menu3.aspx</FileName>
        
      </Ordinary>
      <Nope>
        <FileName>web_ls/web_ls_cpdaxx.aspx</FileName>
        <FileName>web_ls/web_ls_cpdaxx_add.aspx</FileName>
      </Nope>
    </Other>  
  </WebFile>
  <appSettings>
    <!--页面样式-->
    <PageThemes>jqeui</PageThemes>
    <Themes>ui-pepper-grinder</Themes>
    <JsCDN>http://116.62.154.58:99</JsCDN>
    <CssCDN>http://116.62.154.58:99</CssCDN>
    <!--end页面样式-->    
  </appSettings>
</Root>