<?xml version="1.0" encoding="utf-8" ?>

<urlrewritingnet
     rewriteOnlyVirtualUrls="false"
     contextItemsPrefix="QueryString"
     defaultPage = "login"
     defaultProvider="RegEx"
     xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
  <rewrites>
    <add name="login" virtualUrl="^~/login"
       rewriteUrlParameter="ExcludeFromClientQueryString"
       destinationUrl="~/login.aspx"
       ignoreCase="true" />
    <add name="ChooseTz" virtualUrl="^~/ChooseTz"
       rewriteUrlParameter="ExcludeFromClientQueryString"
       destinationUrl="~/ChooseTz.aspx"
       ignoreCase="true" />
    <add name="menu_3" virtualUrl="^~/webpage/menu_3"
       rewriteUrlParameter="ExcludeFromClientQueryString"
       destinationUrl="~/webpage/menu_3.aspx"
       ignoreCase="true" />
    <!--<add name="RewritePhoto" virtualUrl="^~/(\d+).aspx"
      rewriteUrlParameter="ExcludeFromClientQueryString"
      destinationUrl="~/Default.aspx?ID=$1"
      ignoreCase="true" />-->
  </rewrites>
</urlrewritingnet>


<!--<urlrewritingaspnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="index.aspx" defaultProvider="RegEx"  xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
        --><!--<add name="mm1"
         virtualUrl="^http\://(.*)/(.*)-(\d+)-(\d+).aspx"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Default.aspx?templet=$2&amp;classid=$3&amp;page=$4"
         rewrite="Domain"
         ignoreCase="true" />--><!--
        --><!--首页--><!--
        <add name
         virtualUrl="^http\://(.*)/index.(.*)"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/index.aspx"
         rewrite="Domain"
         ignoreCase="true" =""/>
     
  </rewrites>
  </urlrewritingnet>-->