<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 
  <configSections>    
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net configSource="log4net.config"  />
  
  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="G:\Log4NetDebug.txt" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <appSettings>
    
    <!--<add key="log4net.Internal.Debug" value="true"/>-->
    
		<add key="DBCon" value="Data Source=example.com,1443;Initial Catalog=dbname;User ID=useid;Password=password;"/>    
		<!--<add key="Mbkey" value="www.eesj.net"/>-->
		<!--<add key="DBExecutor" value="FM.DataAccess, FM.DataAccess.MappingExcuter.MSSqlExecutor"></add>-->
		<add key="DExecutor" value="Service.DAL, Service.DAL.MSSqlExecutor"></add>    
	</appSettings>
	<system.web>
    <!--<httpHandlers>
      针对GET与POST两种请求，路径是Data.aspx文件，使用CometAsyncHandler处理 
      <add verb="GET,POST" path="longPollingData.aspx" type="Comet.CometAsyncHandler,MyTy"/>
    </httpHandlers>-->
    
    <!-- asp.net默认最大上传文件大小为4M,运行超时时间为90S-->
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<!--<httpModules>
			<add name="MyHttpModule" type="MyHttpModule"/>
		</httpModules>-->
		<pages>
			<controls>
				<add tagPrefix="ctrlHeader" namespace="FM.Controls.Header" assembly="FM.Controls"/>
				<add tagPrefix="ctrlPager" namespace="FM.Controls.Pager" assembly="FM.Controls"/>
			</controls>
		</pages>
	</system.web>
  <system.webServer>
    
    <modules>
      <add name="MyHttpModule" type="MyHttpModule" />
    </modules>
    <handlers>
      <!--针对GET与POST两种请求，路径是Data.aspx文件，使用CometAsyncHandler处理-->
      <!--<add name="MyHandler" verb="GET,POST" path="longPollingData.aspx" type="Comet.CometAsyncHandler,MyTy"/>-->
    </handlers>
  </system.webServer>

</configuration>

