tr.selectedhighlight {
    background-color: #337ab7;
}

    /*tr.selectedhighlight input {
        color: #0441f3;
    }

    tr.selectedhighlight select {
        color: #0441f3;
    }

    tr.selectedhighlight checkb {
        color: #0441f3;
    }*/
.tbbody > td   {
    
}
.tbbody > td > input {
    width:100%;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.field_ord {
    width: 40px;
}
.field_mobileord {
    width: 40px;color: blue;
}
.field_mc {
    width: 80px;
    color: red;
}

.field_qwidth {
    width: 60px;
    color: red;
}
.field_qwidthm {
    width: 60px;color: blue;
}
.field_width {
    width: 40px;
}
.field_widthm {
    width: 40px;color: blue;
}
.field_htmlid {
    width: 60px;
    color:red;
}

.field_visible {
    width: 40px;
}

.field_readonly {
    width: 40px;
}

.field_type {
    width: 60px;
}

.field_event {
    width: 100px;
}

.field_yy {
    width: 60px;
}

.field_zb {
    width: 40px;
}

.field_session {
    width: 60px;
}

.field_css0 {
    width: 60px;
}

.field_css {
    width: 60px;
}

.field_bz {
    width: 100px;
}

.field_nwebid {
    width: 40px;
}

.field_naspx {
    width: 80px;
}

.field_mrz {
    width: 60px;
}

.field_bds {
    width: 60px;
}
